section h2{
  height: 100px;
  padding: 50px 10px 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 0 50px 50px 0;
  box-shadow: 2px 2px 5px cadetblue;
}
.prat{
 width:fit-content;
 padding: 5px;
  color: #e9e2db;
  background-color: #ff8d1e;
  border-radius: 10px;
}
.pratb{
  padding: 5PX;
  border-radius: 20px;
  border: 2px solid brown;
}
h2{
  color: wheat;
  background-color: #020b58;
}
h3{
  padding: 5px;
  width:fit-content;
  color: #e9e2db;
  background-color: #ff1e1e;
}
#tml{
  border: 2px solid rgb(230,230,230);
  border-radius: 20px;
  padding: 0;
  margin: 0;
}
header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.padw{
  padding-top: 30px;
}
.nav-van {
    /*background-color:rgb(18, 1, 37);*/
    background: #011844;
    box-shadow: 5px -1px 12px -5px grey;
}
.nav-nobg {
  /*background: #011844;*/
   background: #02276b00;
 
}

#news ul.timeline {
  width: 100%;
  list-style-type: none;
  padding: 5px;
}
#news ul.timeline > li {    
  margin: 0;
  padding: 0px;
}

#news p{
  text-align:start;
}
footer .main-footer{	padding: 20px 0;	background: #011844;}
footer ul{	padding-left: 0;	list-style: none;}
.footer-copyright {	background: #011844; 	padding: 5px 0;}
.footer-copyright .logo {    display: inherit;}
.footer-copyright nav {    float: right;    margin-top: 5px;}
.footer-copyright nav ul {	list-style: none;	margin: 0;	padding: 0;}
.footer-copyright nav ul li {	border-left: 1px solid #505050;	display: inline-block;	line-height: 12px;	margin: 0;	padding: 0 8px;}
.footer-copyright nav ul li a{	color: #969696;}
.footer-copyright nav ul li:first-child {	border: medium none;	padding-left: 0;}
.footer-copyright p {	color: #969696;	margin: 2px 0 0;}
.footer-top{	background: #252525;	padding-bottom: 30px;	margin-bottom: 30px;	border-bottom: 3px solid #222;}
footer.transparent .footer-top, footer.transparent .main-footer{	background: transparent;}
footer.transparent .footer-copyright{	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;}
footer.light .footer-top{	background: #f9f9f9;}
footer.light .main-footer{	background: #f9f9f9;}
footer.light .footer-copyright{	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;}
.footer- .logo {    display: inline-block;}
.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding: 0;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color: #e9e2db;}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 25px;position: relative;width: 20%;}
.widget-title span::after {background: inherit;content: "";height: inherit;    position: absolute;top: -4px;width: 50%;}
.widget-title.text-center span,.widget-title.text-center span::after {margin-left: auto;margin-right:auto;left: 0;right: 0;}
.widget .badge{	float: right;	background: #7f7f7f;}
.typo-light h1, .typo-light h2, .typo-light h3, .typo-light h4, .typo-light h5, .typo-light h6,
.typo-light p,.typo-light div,.typo-light span,.typo-light small{	color: #fff;}
footer ul.social-footer2 {	margin: 0;padding: 0;	width: auto;}
footer ul.social-footer2 li {display: inline-block;padding: 0;}
footer ul.social-footer2 li a:hover {background-color:#ff8d1e;}
footer ul.social-footer2 li a {display: block;	height:30px;width: 30px;text-align: center;}
footer .btn{margin-bottom: 10px; background-color: #ff8d1e; color:#fff;}
footer .btn:hover, footer .btn:focus, footer .btn.active {background: #4b92dc;color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in-out 0s;
}

